*{
  margin: 0;
  padding: 0;
}
body{
    background-color: black;
}

.container{
    margin: auto;
    width: 600px;
    height: 500px;
    background-color: coral;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

.blue{
    background-color: rgb(85, 167, 214);
    width: 250px;
    height: 500px;
    float: left;
}

.twitterimage{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 90px;
}

.twitterimage img{
    width: 80%;
    height: auto;
}

.white{
    width: 350px;
    height: 500px;
    background-color: white;
    float: right;
}

.xlogo{
    width: 16px; 
    margin: 0 auto 20px;   
    display: block;
    margin-top: 30px;
}

.heading{
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 65px;

}
.faty{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px;
    border: none;
    margin-top: 40px;
    background-color: white;
    color: rgb(85, 167, 214);
    font-size: 16px;
    cursor: pointer;
}

.First{
    width: 250px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 0px;
    display: block;
     margin: 0 auto 20px;
     height: 20px;
     font-size: 8px;
     cursor: pointer;
}

.second{
    width: 250px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 15px;
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
}



.third{
    width: 250px;
    border: 3px solid #1DA1F2 !important;
    padding: 12px 20px;
    border-radius: 10px;
    border: 0.1px solid;
    background-color: white;
    margin-bottom: 15px;
    display: block;
    margin: 0 auto 20px;
    height: 40px;
    font-size: 8px;
    cursor: pointer;
}

.fourth{
    width: 250px;
    border-radius: 20px;
    border: none;
    background-color: black;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto 20px;
    height: 35px;
    font-size: 15px;
    color: white;
    cursor: pointer;

}

.fourth:hover{
    background-color: rgb(104, 98, 98);
}

.fifth{
     width: 250px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 0px;
    margin-top: 5px;
    display: block;
    margin: 0 auto 20px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

p{
    text-align: center;
}

.line{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.line::after,
.line::before{
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.line span{
    padding: 0 10px;
    font-size: 14px;
    color: black;
}

